<h1>Creating new author</h1>
<form>
  <p>
    <label for="first name">First name</label><br>
    <input type="text" name="first name">
  </p>
  <p>
    <label for="last name">Last name</label><br>
    <input type="text" name="last name">
  </p>
  <p>
    <label for="homepage">Homepage</label><br>
    <input type="text" name="homepage">
  </p>
</form>
